.contenedorFormulario{
    max-width: 60rem;
    margin: 6rem auto 1rem auto;
    padding: 1.5rem;
    background-color: white;
    border-radius: 1rem;
    border: 1px solid #e1e1e1;
}
.contenedorFormulario h1{
    color: var(--colorSecundario);
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 4rem;
    font-weight: bold;
}
.formGroup{
    margin-bottom: 1.8rem;    
}
.formGroup input , .formGroup textarea{    
    width: 100%;
    border: 1px solid #e1e1e1;
    margin-bottom: 1rem;
}
.formGroup input:focus , .formGroup textarea:focus{
    border: 1.7px solid #a3ccda;
}
.formGroup textarea{
    display: block;
    height: 15rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.formGroup label{    
   font-size: 1.7rem;
   color: var(--colorPrincipal);
   font-weight: bold;
   line-height: 2;
}
.formGroup label + span{
    color: var(--colorSecundario);
    margin-left: .5rem;
    font-size: 1.3rem;
}
.btnSubmit{   
    padding: 1.2rem;
    display: block;
    text-align: center;
    width: 100%;
    border: none;
    background-color: var(--colorPrincipal);
    color: white;
    font-size: 1.8rem;
    transition: all .3s ease-in-out;
    border-radius: .5rem;
    margin-bottom: 1.5rem;
}
.btnSubmit:hover{
    cursor: pointer;
    
    background-color: var(--colorSecundario);
}
.enlace{
    color: #999999;
    display: block;
    margin-bottom: 1rem;
    text-align: end;
}
.enlace:hover{
    color: var(--colorSecundario);
}
.errorValidacion{
    color: var(--danger);
    margin: 0;
}
.inputImagen{
    display: none;
  }
.pointer{
    border:2px solid var(--colorPrincipal);
    transition: all .3s ease-out;
    padding: 1rem;
}
.pointer:hover{
    color: white;
    background-color: var(--colorPrincipal);
    cursor: pointer;
    
}
.divUrl{
    position:relative;
}
.btnEliminarInput{
    position:absolute;
    top:.7rem;
    right:1rem;
    margin:0;
    color: #444;
    cursor: pointer;
}